// Fonts
$sansSerif: "Poppins";

// Colors
$primary: #2f2105;
$secondary: #f6ebda;
$accent: #ff902a;
$headingFg: $primary;
$contentFg: #7e7d7a;

// Shadow
$shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$shadowSm: 0 .125rem 1rem rgba(0, 0, 0, .15);
$shadowLg: 0 1rem 3rem rgba(0, 0, 0, 0.2);
